body {
  font-family: 'Roboto', Arial;
  font-size: 20px;
}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
}

.card {
  padding: 3px;
  transition: box-shadow 0.25s, padding 0.15s;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.507);
  background-color: rgb(245, 245, 245);
  display: flex;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.507);
  padding: 6px;
}

.lessons {
  color: black;
}

.lesson-card {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-time {
  width: 80px;
  margin: 0 10px;
}

.lesson-num {
  margin: 0 5px;
}

.lesson-time,
.lesson-num,
.creator {
  margin-top: 2px;
  font-size: 14px;
  color: rgb(131, 131, 131);
}

.lesson-card:hover {
  background-color: rgb(230, 230, 230);
}

.lesson {
  width: 100px;
  margin: 0 5px;
}

.day {
  font-size: 40px;
  /*padding-left: 44px;
  padding-right: 44px;*/
  position: absolute;
  bottom: -90px;
  display: flex;
}

.creator {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.creator-link {
  text-decoration: none;
  color: rgb(131, 131, 131);
}

.creator-link:hover {
  text-decoration: underline;
}

