body {
  font-family: Arial;
  font-size: 40px;
}

.card {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 2px;
  background-color: rgb(238, 238, 238);
}

.lessons {
  /*padding-left: 20px;
  padding-right: 20px;*/
}

.lesson {
  border-bottom: solid 1px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.frame1 {
  background-color: black;
  height: 40px;
  border: solid 1px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}